---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/header';
import Body from '../components/body/Body';
import Loader from '../components/body/loader/Loader';
import DateRangerPicker from '../components/body/dateRangePicker/DateRangePicker.astro';
import moment from 'moment';
import allTeamsJSON from '../temporaryData/allTeams.json';
import lastSave from '../../nhlData.json';
import { ViewTransitions } from 'astro:transitions';
import fs from 'fs';
import axios from 'axios';

const title = 'Sport schedule';

const date = new Date();
const startDate = date.toISOString().split('T')[0];
const day = date.getDate();
const newDay = day + 7;
date.setDate(newDay);
const endDate = date.toISOString().split('T')[0];

let dataTeams = allTeamsJSON;
try {
  const fetchTeams = await axios.get('https://api-web.nhle.com/v1/standings/now');

  dataTeams = await fetchTeams.data;
  fs.writeFileSync('nhlData.json', JSON.stringify(dataTeams));
  console.log('get data');
} catch (error) {
  console.log('fakeData', error);
  dataTeams = lastSave;
}

const resTeams = dataTeams?.standings || [];

const activeTeams = resTeams
  .map((team) => {
    team.value = team.teamAbbrev?.default;
    team.id = team.teamAbbrev?.default;
    team.label = team.teamName?.default;
    return team;
  })
  .sort((a, b) => (a.placeName?.default > b.placeName?.default ? 1 : -1));

const someProps = {
  allTeams: activeTeams || [],
};
---

<Layout title={title}>
  <main>
    <div class="App" style={{ overflow: 'hidden', height: '100vh' }}>
      <Header title={title} />
      <DateRangerPicker startDate={startDate} endDate={endDate} />
      <ViewTransitions />
      {activeTeams.length && <Body {...someProps} client:visible />}
      {activeTeams.length === 0 && <Loader />}
    </div>
  </main>
</Layout>
