---
interface Props {
  title: string;
  logo: string;
  body: string;
}

const { title, body, logo } = Astro.props;
---

<li class="link-card">
  <h2>
    {title}
  </h2>
  <p>
    {body}
  </p>
  <img src={logo} alt={body} />
</li>
